@media(max-width:1030px){
    .nav__item, .nav__item--right{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .main{
        margin-left: 0;
        margin-right: 0;
    }
}